@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");


* {
  color: #fff;
  font-size: 2vh;
}

body {
  background: linear-gradient(135deg, #fd3838 0%, #4527f0 100%);
  font-family: 'Fira Sans', sans-serif;
  min-height: 100vh;
  display: grid;
  align-items: center;
  margin: .5rem;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form>input {
  flex: 1 1 100ch;
  margin: .5rem;
}

input,
textarea,
a {
  border: none;
  background: #0f0835;
  border-radius: .25rem;
  padding: .75rem 1rem;
  transition: all .4s;
  outline:none !important;
}

input[type="submit"],
a {
  background: #0f880f;
  box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
  border-radius: 50px;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
}


textarea,
p,
a {
  margin: .5rem;
}

p {
  margin-top: 0;
}

a {
  background: #e74c3c;
  box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 1px;
  font-weight: 500;
}