@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  background: #263238;
  font-family: sans-serif;
  line-height: 1.4;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.masthead {
  background: #c9be9d;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
  margin: 0 0 1em;
  padding: 1em 0;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  color: black;
}

.calculator {
  width: auto;
  margin: 30px;
  display: block;
  background: #2c3940;
  padding: 50px 50px 50px 50px;
}

.form-group {
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-group input, textarea, h4, button, a {
  font-family: "Roboto", sans-sarif;
  font-size: 18px;
  color: #fff;
  border: none;
}

.form-group input, textarea {
  background: #29343a;
  padding: 15px;
  display: block;
  width: 100%;
  border-left: 3px solid #008000;

    &:focus {
      outline: none;
      border-left: 3px solid #eb6f93;
    }
}

.form-group textarea {
  color: #fd8383;
}

.form-group button, a {
  background: #008000;
  border: 0px;
  padding: 10px 20px;
  transition: 0.5s ease all;
}

.form-group h4 {
  color: #dfa9dc;
}

.form-group a {
  background: #da261f;
  text-decoration: none;
}
