@import 'header.css';
@import 'footer.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg,
      #2c2a30 0%,
      #0c0420 100%);
  font-family: sans-serif;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}

.form-group {
  margin-bottom: 3%;
  justify-content: center;
}

.form-group input,
textarea,
h4,
button,
a {
  font-family: "Roboto", sans-sarif;
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 1rem;
}

.form-group input, textarea {
  background: #0c0420;
  display: flex;
  width: 150%;
  border-left: 3px solid #008000;

  &:focus {
    outline: none;
    border-left: 3px solid #e74c3c;
  }
}

.form-group button,
a {
  background: #008000;
  border: 1rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
  transition: 0.5s ease all;
  cursor: pointer;
}

.form-group textarea {
  margin-bottom: 1rem;
}
.form-group h4 {
  color: #dfa9dc;
  margin: 0;
  padding: 1rem 1rem 1rem 0;

}

.form-group a {
  background: #e74c3c;
  text-decoration: none;
  /* margin-top: 1rem; */
}

.error-message {
  color: #e74c3c;
  margin-top: -0.65rem;
  margin-bottom: 1rem;
}
