body {
  background: #263238;
  font-family: sans-serif;
  line-height: 1.4;

}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.masthead {
  background: #c9be9d;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
  margin: 0 0 1em;
  padding: 1em 0;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  color: black;
}

body .calculator {
  width: auto;
  margin: 30px;
  display: block;
  background: #2c3940;
  padding: 50px 50px 50px 50px;
}

body .form-group {
  position: relative;
  margin-bottom: 20px;
}

body .form-group input {
  background: #29343a;
  font-family: 'Roboto', sans-sarif;
  font-size: 18px;
  color: #fff;
  padding: 15px 15px 15px 15px;
  display: block;
  width: 100%;
  border: none;
  border-left: 3px solid #008000;
  border-bottom: 0px;
}

body .form-group input:focus {
  outline: none;
  border-left: 3px solid #eb6f93;
}

body .form-group textarea {
  background: #29343a;
  font-family: 'Roboto', sans-sarif;
  font-size: 18px;
  color: #fd8383;
  padding: 15px 15px 15px 15px;
  display: block;
  max-width: 100%;
  min-width: 100%;
  height: 500%;
  border: none;
  border-left: 3px solid #008000;
  border-bottom: 0px;
}

body .form-group textarea:focus {
  outline: none;
  border-left: 3px solid #eb6f93;
}

body .form-group button {
  font-family: 'Roboto', sans-sarif;
  font-size: 18px;
  color: #fff;
  background: #008000;
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s ease all;
}

body .form-group h4 {
  font-family: 'Roboto', sans-sarif;
  font-size: 18px;
  color: #dfa9dc;
}

body .form-group a {
  font-family: 'Roboto', sans-sarif;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background: #da261f;
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s ease all;
}