<!DOCTYPE html>
<html lang="en">

<head>
  <link href="{{url_for('static', filename='algorithm.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='calc.png') }}" rel="shortcut icon">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->

  <title>Calculator tool</title>
</head>

<body>
<header>
  <h1 class="site-title">{{ name }} Calculator</h1>
</header>

<form action="/{{ name }}/" method="post">
  <input name="parameter" placeholder="Number" required type="number">
  {% if name=='Ackermann' %}
  <input name="second-parameter" placeholder="Second number" required type="number">
  {% endif %}
  <input type="submit" value="Calculate">
</form>

<p>{{ error_message }}</p>
<textarea placeholder="Result" rows="10">{{ result }}</textarea>
<p>{{ exec_time }}</p>
<a href="/">Back</a>

<!-- <footer class="footer">
  <p class="footer-text">
    Copyright © 2020 Laurențiu Pop. All rights reserved.
  </p>
</footer> -->
</body>

</html>